body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#resultGestosName ,#resultGestosName2 
{
  color: black;
}
.GestosName
{
  font-size: 40px;
}
.gestos
{
  font-size:48px;
}
